@keyframes entry
  0%
    opacity 0
    filter blur(50px)
  100%
    opacity 1
    filter blur(0)

@keyframes app_entry
  0%
    opacity 0
    transform scale(0)
    filter blur(50px)
  100%
    transform scale(1)
    opacity 1
    filter blur(0)

@keyframes app_hide
  0%
    opacity 1
    transform scale(1.1)
    filter blur(0)
  10%
    opacity .8
    transform scale(.8)
    filter blur(10px)
  20%
    opacity .6
    transform scale(1.1)
    filter blur(20px)
  100%
    transform scale(0)
    opacity 0
    filter blur(50px)

@keyframes selectLayout
  0%
    opacity 1
  50%
    transform scale(1.3)
    opacity .5
    filter blur(16px)
  100%
    transform scale(1)
    opacity 1

@keyframes scroll_top
  0%
    transform translateY(0)
  100%
    transform translateY(-15px)

@keyframes tanuki
  0%
    filter grayscale(0%)
  50%
    filter grayscale(80%)
  100%
    filter grayscale(0%)

.hide
  animation 2s app_hide !important
  transform scale(0) !important
  opacity 0 !important

.animate_intro
  animation .5s .2s entry backwards
  opacity 1

.animate_app_intro
  transform scale(1)
  animation .6s app_entry
  opacity 1
