.box .text
  padding 8.5px !important

.br-mobile
  display block

.left,
.right
  clear none
.left
  float left
.right
  float right

.text-left
  text-align left

@supports (-moz-appearance:meterbar)
  .app .btn-plus i
    top -2px
    left -2px
  .app #curriculo input[type="date"]
    padding 10px
