.erro-list
  width 98%
  margin 10px auto
  padding 20px 0
  border-radius 10px
  line-height 23px
  background rgba(red,.1)
  ul
    list-style none
.erro-item
  font-weight normal
  color red
.error
  box-shadow inset 0 10px 60px rgba(red, .05)
  border-radius 6px
  input, select, textarea
    border-color rgba(red, .6) !important
