.logo
  width 300px
  color #fff
  font-size 40px
  line-height 40px
  display block
  margin 60px auto
  padding 20px
  cursor pointer
  fill #fff
  transition .3s all
  strong
    position relative
    top -10px
    margin 0 10px
  +tablet()
    padding 90px
    transform scale(1.6)
  +desktop()
    width 100%
.logo-icon
  width 50px
  height 50px
  fill #fff
  path
    fill #fff
