.menu-list
  text-align center
  display block
  clear both
  position relative
  width 100%
  height 100%
  margin 0 auto
  padding-top 70px
  user-select none
  background #222 url('./assets/ocean.jpg') fixed
  box-shadow inset -10px 0 60px rgba(#000,.5), 10px 0 60px rgba(#000,.5)
  transition .5s all
  transform translateX(-999px)
  position fixed
  top 0
  left 0
  z-index 99
  &.active
    transform translateX(0)
  .title
    font-size 1.5em
    margin 0
    position absolute
    top 18px
    left calc(50% - 1.5em)
  +tablet()
    width 80%
    background rgba(#222, 0)
    box-shadow none
    position relative
    transform translateX(0)
    padding-top 0
    display flex
    .title
      display none
    &:after
      content ''
      display table
      clear both
  +ultrawide()
    width 60%
.menu-item
  border-radius 6px
  padding 10px
  width 95%
  height 66px
  background rgba(#fff,.2)
  border 1px solid rgba(#fff,.3)
  box-shadow 0 3px 13px rgba(#000,.2)
  box-sizing border-box
  transition .5s all
  position relative
  display block
  margin 0 auto 20px
  &:after
    content ''
    display table
    clear both
  &:hover
    transform scale(1.02)
  &:hover,
  &.router-link-active
    background linear-gradient(to right,rgba(#fff,.6), rgba(#fff,0))
  &:active
    transform scale(1)
  &:last-of-type
    margin-bottom 0
  svg
    width 42px
    height 42px
    fill #fff
    display inline-block
    float left
  span
    display block
    text-indent 15px
    line-height 45px
    float left
    &:after,
    &:before
      content ''
      display block
      width 26px
      height 4px
      background rgba(#fff,.6)
      border-radius 6px
      position absolute
      right 15px
    &:after
      top 65%
    &:before
      top 35%
  +tablet()
    width calc(50% - 10px)
    margin-right 20px
    font-size .9em
  +desktop()
    width calc(25% - 15px)
    &:last-of-type
      margin-right 0
