<template lang="pug">
div#about
  section.container.animate_intro
    h1 Informações
    p Essa web aplicação auxiliará você a criar um curriculo profissional, elegante e objetivo, de uma forma totalmente gratuita!
    p Espera-se que esse aplicativo, ajude você de todas as maneiras portáteis possíveis para geração de seu novo curriculo profissional.
    br
    p Atensiosamente, Lucas Lima.
</template>

<script>
export default {
  name: 'about',
  head: {
    title: {
      inner: 'Informações'
    }
  }
}
</script>
