<template lang="pug">
div
  section.container.animate_intro.display-n-print
    h2 {{ $t('text.text1') }}
    h2#start_app {{ $t('text.text2') }}

  main#app-theme.app
    section.section
      form-curriculo

  section.layouts.display-n-print
    h1 Escolha o estilo
    layouts

  section.display-n-print
    action-menu
</template>

<script>
export default {
  name: 'curriculo'
}
</script>
