<template lang="pug">
div#foundation
  section.container.animate_intro
    h1 Colaboradores
    p Esse web aplicativo é uma ação social.
    p Criado por um rapaz que mesmo em meio a todas as adversidades do seu cotidiano, focou e dedicou seus estudos para elaborar esse web aplicativo.
    p Esse web aplicativo é totalmente gratuito, sendo assim você não tem nenhuma obrigação financeira com ele.
    p Porém, ele é mantido online para ajudar outras pessoas assim como deve ter ajudado você.
    p Se você deseja ajudar com esse projeto de alguma forma ou comentário, deixe sua contribuição em nosso
      a(href='https://gitlab.com/lucaslimax/curriculogratis' target='_blank' rel="noopener")  repositório no @gitlab
    br
    p Atensiosamente, Lucas Lima.
</template>

<script>
export default {
  name: 'foundation',
  head: {
    title: {
      inner: 'Criador e colaboradores'
    }
  }
}
</script>
