@media print
  *
    background transparent !important
    box-shadow none !important
    text-shadow none !important
    filter none !important
    -ms-filternone !important

  body
    margin 0
    padding 0
    line-height 1.4em

  .app
    border none !important
    box-shadow none !important
    width 80% !important
    .text
      padding 0 !important
      margin 0 !important

  .display-n, .display-n-print
    display none !important

  input, textarea,
  label, select, legend
    border none !important
    padding 0 !important
    margin 0 !important
    -webkit-appearance none
    -moz-appearance none
    text-indent 1px

  input, label, p
    padding 0 !important

  textarea, input, p
    margin 10px 0 20px !important

  .exps_now, .course_now
    font-size 18px !important
    width auto !important
    text-indent 1px !important
    text-align left !important
    padding-bottom 15px !important

  textarea
    width 100% !important
  .select-maritals,
  .address
    width 33% !important
    float left !important
  .select-maritals
    clear none !important
  label
    text-align left !important
    &[for='GET-dataofbirth'],
    &[for='GET-nationality']
    &[for='GET-state'],
    &[for='GET-address']
      width 33% !important
      float left !important
    &[for='GET-telephone']
      width 33% !important
      float left !important
    &[for='GET-email']
      width 66% !important
      float left !important
    &[for='GET-name'],
    &[for='GET-lastname']
      font-size 0 !important
      & p
        font-size 0 !important
      & input
        display inline
        position relative !important
        font-size 35px !important
        margin-bottom 35px !important
      & #GET-lastname
        top 50px !important
      & #GET-lastname
        top -70px !important
