/* Import Reset 1 1 1 */
@import 'config/_reset'
@import 'config/_mixins'
@import 'config/_variables'

*
  background transparent

/* All.styl */
::selection
  color #fff
  background #000

html, body
  height auto
  margin 0
  padding 0
  width 100%

body
  background #000 url('./assets/ocean.jpg') fixed
  box-sizing border-box
  color #444
  font-family Arial
  font-size 16px
  font-weight bold
  height 100%
  min-height 100%
  overflow-x hidden
  position relative
  &.active-menu
    overflow hidden
  +tablet()
    padding 0
  &::-webkit-scrollbar-track
  	background #777
  &::-webkit-scrollbar
  	width 10px
  	background-color rgba(#fff,0)
  &::-webkit-scrollbar-thumb
  	border-radius 10px
  	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,.5)
  	background-color rgba(#000,.3)

hr
  border 0
  border-bottom 4px double  #eee
  margin 10px auto

h1
  font-size 40px
  text-shadow 10px 10px 20px rgba(#000, .1)
  a
    font-size inherit

a
  color #fff
  font-size 18px
  text-decoration none
  line-height 30px
  transition .5s all

// +ultrawide()
//   .ultra
//     width 60%
//     float right
//     clear right


@import '_app-print'

@import 'base/_app'
@import 'base/_curriculo'
@import 'base/_header'
@import 'base/_container'
@import 'base/_footer'

@import 'components/_nav'
@import 'components/_buttons'
@import 'components/_start'
@import 'components/_actions'
@import 'components/_help'
@import 'components/_layouts'
@import 'components/_login'
@import 'components/_logo'
@import 'components/_modal'
@import 'components/_erro-list'
@import 'components/_publicidade'

@import 'themes/_template'

@import 'others/_animate'
@import 'others/_helpers'
