<template lang="pug">
  article.anuncio.display-n-print
    h1 Neste espaço contém uma publicidade
    ins.adsbygoogle(
        style="display:block"
        data-ad-client="ca-pub-4080310689684959"
        data-ad-slot="7875172168"
        data-ad-format="auto")
</template>

<script>
export default {
  name: 'publicidade-page',
  mounted () {
    (window.adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: 'ca-pub-4080310689684959', enable_page_level_ads: true })
  }
}
</script>
