<template lang='pug'>
  footer.footer.animate_intro.display-n-print
    a.link_open(href='https://gitlab.com/lucaslimax/curriculogratis' target='_blank' rel="noopener")
      | Link código fonte do projeto
      svg(width="60" height="60" viewBox="0 0 36 36")
        path(fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z")
        path(fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z")
        path(fill="#e24329" d="M18,34.38 3,14 33,14 Z")
        path(fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z")
        path(fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z")
        path(fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z")
        path(fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z")
    .credits(href='https://gitlab.com/lucaslimax' target='_blank' rel="noopener")
      | MadeIn <i>&#9775;</i> Favela
    br
    .credits(href='https://gitlab.com/lucaslimax' target='_blank' rel="noopener")
      | Criador
      small  @lucaslimax
    a(href='#' v-scroll-to="'#top'" :class="{ 'active' : scrolled }").scroll-top
      svg(xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 280 280")
        path(d="M17.128 167.872c1.903 1.902 4.093 2.854 6.567 2.854s4.664-.952 6.567-2.854L142.466 55.666l112.208 112.206c1.902 1.902 4.093 2.854 6.563 2.854 2.478 0 4.668-.952 6.57-2.854l14.274-14.277c1.902-1.902 2.847-4.093 2.847-6.563 0-2.475-.951-4.665-2.847-6.567L149.028 7.419c-1.901-1.906-4.088-2.853-6.562-2.853s-4.665.95-6.567 2.853L2.856 140.464C.95 142.367 0 144.554 0 147.034c0 2.468.953 4.658 2.856 6.561l14.272 14.277z")
        path(d="M149.028 117.055c-1.901-1.906-4.088-2.856-6.562-2.856s-4.665.953-6.567 2.856L2.856 250.1C.95 252.003 0 254.192 0 256.67c0 2.472.953 4.661 2.856 6.564l14.272 14.276c1.903 1.903 4.093 2.848 6.567 2.848s4.664-.951 6.567-2.848l112.204-112.209L254.674 277.51c1.902 1.903 4.093 2.852 6.563 2.852 2.478 0 4.668-.948 6.57-2.852l14.274-14.276c1.902-1.903 2.847-4.093 2.847-6.564 0-2.478-.951-4.667-2.847-6.57L149.028 117.055z")
</template>

<script>
export default {
  name: 'footer-page',
  data () {
    return {
      scrolled: false
    }
  },
  methods: {
    handleScroll () {
      this.scrolled = window.scrollY > 265
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang='stylus'>
  .link_open
    font-size 0
    margin 0 auto
    clear both
    width 60px
    margin-bottom 50px
    transition .5s all
    position relative
    line-height 0
    display block
    filter grayscale(100%)
    &:after, &:before
      box-sizing border-box
      opacity 0
      pointer-events none
      display block
    &:after
      content 'Projeto Open Source GitLab'
      transition .5s opacity, 2s color, .5s transform
      width 60px
      background #fff
      border-radius 4px
      padding 6px 6px 8px
      font-size 7px
      line-height 9px
      color #fff
      position absolute
      bottom 80px
      left calc(50% - 30px)
      transform scale(0)
    &:before
      content ''
      transition .1s all
      width 1px
      height 1px
      border 5px solid transparent
      border-top 5px solid #fff
      position relative
      top -11px
      left calc(50% - 5px)
    &:hover
      transform scale(1.3)
      filter grayscale(0%)
      animation .5s tanuki infinite alternate
      &:after, &:before
        opacity 1
        color #000
        transition 1s opacity
        transform scale(1)
        pointer-events all
      &:before
        transition 1.3s all
  .scroll-top
    background #fff
    border-radius 6px
    color #333
    box-sizing border-box
    bottom 20px
    padding 10px 15px
    position fixed
    right 30px
    border solid 2px #333
    border-radius 50%
    z-index 9999
    opacity 0
    visibility hidden
    pointer-events none
    &.active
      opacity 1
      visibility visible
      pointer-events all
    &:hover
      color #fff !important
      background #333
      border solid 2px #fff
      animation .5s scroll_top infinite alternate
      path
        fill #fff !important
    path
      fill #999 !important
</style>
