<template lang="pug">
.nav
  button.btn.menu-main(@click="menuShow")
    span
    span
    span
  nav.menu-list.animate_intro.display-n-print(v-bind:class="{ active: menu_show }" @click="menuShow")
    h1.title Menu
    router-link.menu-item(to="/" v-scroll-to="'#start_app'")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.085 475.085")
        path(d="M237.545 255.816c9.9 0 18.468-3.61 25.696-10.848 7.23-7.23 10.855-15.8 10.855-25.694V36.547c0-9.9-3.62-18.464-10.854-25.693C256.015 3.617 247.445 0 237.546 0c-9.9 0-18.464 3.62-25.697 10.854-7.233 7.23-10.85 15.797-10.85 25.693v182.728c0 9.895 3.617 18.464 10.85 25.694 7.233 7.237 15.8 10.846 25.697 10.846z")
        path(d="M433.836 157.887c-15.325-30.642-36.878-56.34-64.666-77.084-7.994-6.09-17.035-8.47-27.123-7.14-10.09 1.334-18.083 6.092-23.983 14.274-6.09 7.993-8.418 16.986-6.994 26.98 1.423 9.997 6.14 18.036 14.133 24.127 18.645 14.084 33.072 31.312 43.25 51.678 10.184 20.364 15.27 42.065 15.27 65.09 0 19.802-3.854 38.69-11.56 56.68-7.707 17.986-18.13 33.543-31.266 46.678-13.135 13.13-28.688 23.55-46.678 31.26-17.988 7.71-36.88 11.57-56.674 11.57-19.792 0-38.684-3.86-56.67-11.57-17.99-7.71-33.548-18.13-46.683-31.26-13.13-13.135-23.55-28.69-31.26-46.68-7.71-17.99-11.564-36.876-11.564-56.677 0-23.026 5.09-44.724 15.273-65.09 10.183-20.365 24.6-37.592 43.253-51.68 7.994-6.094 12.703-14.132 14.133-24.127 1.426-9.99-.904-18.986-6.996-26.98-5.9-8.18-13.844-12.94-23.84-14.272-9.993-1.332-19.084 1.05-27.267 7.14-27.792 20.744-49.344 46.44-64.67 77.083-15.323 30.646-22.982 63.288-22.982 97.927 0 29.697 5.806 58.054 17.415 85.082 11.613 27.028 27.218 50.34 46.826 69.948 19.602 19.603 42.92 35.215 69.95 46.815 27.027 11.614 55.387 17.425 85.08 17.425 29.692 0 58.05-5.81 85.08-17.426 27.03-11.605 50.347-27.214 69.952-46.816 19.602-19.602 35.207-42.92 46.818-69.948s17.412-55.392 17.412-85.082c0-34.64-7.648-67.282-22.972-97.927z")
      span {{ $t('nav.home')}}
    router-link.menu-item(to="/about" v-scroll-to="'#about'")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612")
        path(d="M230.724 181.208c-2.393 2.587-3.95 4.256-5.12 5.508 2.17-2.337 5.12-5.508 5.12-5.508z")
        path(d="M336.962 200.875c7.956 9.792 11.906 21.337 11.906 34.634 0 9.513-2.727 18.665-8.15 27.51-2.978 5.008-6.9 9.85-11.796 14.466l-16.3 16.107c-15.635 15.356-25.733 28.958-30.35 40.865-4.62 11.878-6.928 27.54-6.928 46.957h36.275c0-17.108 1.946-30.044 5.813-38.807 3.866-8.763 12.323-19.444 25.37-32.102 17.942-17.387 29.85-30.572 35.746-39.53s8.873-20.64 8.873-35.05c0-23.757-8.04-43.286-24.146-58.586-16.106-15.3-37.526-22.922-64.288-22.922-28.932 0-51.687 8.93-68.267 26.79s-24.87 41.448-24.87 70.796h36.275c.667-17.665 3.478-31.184 8.346-40.56 8.68-16.83 24.37-25.258 47.068-25.258 18.333 0 31.49 4.897 39.42 14.69z")
        path(d="M612 306C612 137.004 474.995 0 306 0 137.004 0 0 137.004 0 306c0 168.995 137.004 306 306 306 168.995 0 306-137.005 306-306zm-584.182 0C27.818 152.36 152.36 27.818 306 27.818S584.182 152.36 584.182 306 459.64 584.182 306 584.182 27.818 459.64 27.818 306z")
        path(d="M274.51 415.214h40.56v42.367h-40.56z")
      span {{ $t('nav.about')}}
    //- router-link.menu-item(to="/new" v-scroll-to="'#new'")
    //-   svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
    //-     path(d="M512 256l-38.797-58.203 4.5-69.797L415 97l-31-62.703-69.797 4.5L256 0l-58.188 38.797-69.812-4.5L97 97l-62.688 31 4.5 69.805L0 256l38.812 58.188-4.5 69.812L97 415l31 62.703 69.812-4.5L256 512l58.203-38.797 69.797 4.5L415.016 415l62.688-31-4.5-69.812L512 256zM405.562 395.875l-6.47 3.203-3.202 6.47-24.702 49.952-55.61-3.594-7.202-.47-6 4.017L256 486.36l-46.36-30.907-6-4.016-7.202.47-55.61 3.593-24.702-49.953-3.188-6.47-6.47-3.202-49.952-24.688 3.578-55.625.47-7.188-4-6L25.64 256l30.923-46.367 4-6-.47-7.203-3.577-55.61 49.953-24.702 6.468-3.195 3.188-6.47L140.828 56.5l55.61 3.586 7.202.47 6-4.01L256 25.642l46.375 30.907 6 4.008 7.203-.47 55.61-3.585 24.702 49.953 3.188 6.47 6.47 3.194L455.5 140.82l-3.578 55.61-.47 7.194 4 6.008L486.376 256l-30.922 46.375-4 6 .47 7.188 3.577 55.625-49.938 24.687z")
    //-     path(d="M164.297 214.53v61.814l-37.97-61.813H105.72v92.282h19.577v-61.96l38.234 61.96h20.22v-92.28M228.97 289.828v-22.68h45.092v-15.945H228.97v-20.086h49.124V214.53h-69.22v92.282H279v-16.984M394.328 214.53l-15.28 63.5-15.954-63.5h-19.047l-16.203 62.72-14.766-62.72h-20.36l24.5 92.282h20.61l15.547-62.992 15.813 62.992h20.218l24.89-92.28")
    //-   span {{ $t('nav.new')}}
    router-link.menu-item(to="/foundation" v-scroll-to="'#foundation'")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
        path(d="M418.482 148.718c-13.749-51.161-46.631-94.11-92.701-121.044C279.345.528 225.3-6.957 173.604 6.593 121.906 20.147 78.485 53.183 51.339 99.62c-27.146 46.435-34.632 100.48-21.08 152.177l.256.979 57.181 147.6V512h227.673v-87.57h115.173v-93.495l57.793-14.448-69.853-167.769zm-23.657 154.33v85.665H279.652v87.569H123.413v-82.584L64.562 241.786c-10.792-42.178-4.552-86.226 17.612-124.14 22.331-38.199 58.018-65.368 100.486-76.501 42.468-11.133 86.894-4.966 125.093 17.365 38.2 22.331 65.368 58.018 76.502 100.486l.314 1.195 54.84 131.712-44.584 11.145z")
        path(d="M145.913 154.084c-1.475-4.086-3.552-7.676-6.173-10.667-2.629-3-5.787-5.387-9.385-7.096-3.612-1.711-7.586-2.579-11.814-2.579-4.229 0-8.204.868-11.815 2.58-3.598 1.707-6.755 4.093-9.385 7.095-2.623 2.991-4.701 6.58-6.172 10.667-1.468 4.072-2.213 8.588-2.213 13.423 0 4.835.744 9.351 2.213 13.423 1.472 4.087 3.548 7.676 6.172 10.668 2.634 3.005 5.795 5.377 9.395 7.046 3.606 1.673 7.578 2.522 11.806 2.522 4.227 0 8.198-.848 11.806-2.522 3.6-1.67 6.761-4.042 9.395-7.046 2.623-2.9924.699-6.582 6.172-10.668 1.469-4.077 2.214-8.593 2.214-13.423-.002-4.831-.747-9.347-2.216-13.423zm-22.778 22.848c-1.248 2.159-2.751 3.209-4.596 3.209-1.989 0-3.563-1.05-4.81-3.21-1.351-2.338-2.036-5.508-2.036-9.424 0-3.916.687-7.107 2.041-9.483 1.247-2.191 2.819-3.255 4.805-3.255 1.842 0 3.344 1.066 4.591 3.255 1.354 2.381 2.041 5.572 2.041 9.484-.001 3.912-.686 7.082-2.036 9.424zm83.709 2.565v-42.968H184.13l-.329.66c-.239.479-.87 1.33-2.521 2.657-1.414 1.138-3.004 2.222-4.727 3.219-1.731 1.005-3.488 1.884-5.221 2.611-2.032.854-3.143 1.032-3.718 1.032h-1.191v21.026h1.191c1.45 0 3.097-.229 4.895-.679 1.77-.443 3.543-1.039 5.267-1.774 1.723-.732 3.306-1.535 4.705-2.381.427-.258.825-.521 1.193-.789v17.386H168.46v20.597h51.993v-20.597h-13.609zm70.4 0v-42.968H254.53l-.329.66c-.239.479-.87 1.33-2.521 2.657-1.414 1.138-3.003 2.222-4.727 3.219-1.731 1.005-3.488 1.884-5.222 2.611-2.031.854-3.143 1.032-3.717 1.032h-1.191v21.026h1.191c1.449 0 3.097-.229 4.895-.679 1.769-.443 3.543-1.039 5.268-1.774 1.723-.732 3.305-1.535 4.704-2.381.427-.258.825-.521 1.193-.789v17.386H238.86v20.597h51.993v-20.597h-13.609zm87.045-25.412c-1.473-4.087-3.549-7.677-6.172-10.668-2.63-3-5.786-5.387-9.387-7.096-3.611-1.711-7.586-2.579-11.814-2.579-4.229 0-8.204.868-11.815 2.58-3.598 1.707-6.757 4.093-9.385 7.095-2.623 2.991-4.699 6.58-6.172 10.667-1.468 4.072-2.213 8.588-2.213 13.423 0 4.835.745 9.351 2.213 13.423 1.47 4.087 3.547 7.676 6.172 10.668 2.634 3.007 5.795 5.378 9.395 7.047 3.606 1.673 7.578 2.522 11.806 2.522 4.227 0 8.198-.848 11.806-2.522 3.599-1.67 6.761-4.042 9.395-7.046 2.623-2.992 4.699-6.582 6.172-10.668 1.469-4.077 2.214-8.592 2.214-13.423s-.746-9.347-2.215-13.423zm-22.778 22.847c-1.247 2.159-2.75 3.209-4.594 3.209-1.99 0-3.562-1.05-4.809-3.21-1.352-2.338-2.037-5.508-2.037-9.424 0-3.916.686-7.107 2.041-9.483 1.247-2.191 2.818-3.255 4.805-3.255 1.842 0 3.344 1.066 4.591 3.255 1.354 2.381 2.041 5.572 2.041 9.484-.001 3.912-.686 7.082-2.038 9.424zm-195.598 53.826c-1.475-4.086-3.552-7.676-6.173-10.667-2.629-3-5.787-5.387-9.385-7.096-3.612-1.711-7.586-2.579-11.814-2.579-4.229 0-8.204.868-11.815 2.58-3.598 1.707-6.755 4.093-9.385 7.095-2.623 2.991-4.701 6.58-6.172 10.667-1.468 4.072-2.213 8.588-2.213 13.423s.744 9.351 2.213 13.423c1.472 4.087 3.548 7.676 6.172 10.668 2.634 3.005 5.795 5.377 9.395 7.046 3.606 1.673 7.578 2.522 11.806 2.522 4.227 0 8.198-.848 11.806-2.522 3.6-1.67 6.761-4.042 9.395-7.046 2.623-2.992 4.699-6.582 6.172-10.668 1.469-4.077 2.214-8.592 2.214-13.423s-.747-9.347-2.216-13.423zm-22.778 22.847c-1.248 2.159-2.751 3.209-4.596 3.209-1.989 0-3.563-1.05-4.81-3.21-1.351-2.338-2.036-5.508-2.036-9.424 0-3.915.687-7.105 2.041-9.483 1.247-2.191 2.819-3.255 4.805-3.255 1.842 0 3.344 1.066 4.591 3.255 1.354 2.381 2.041 5.572 2.041 9.484-.001 3.912-.686 7.082-2.036 9.424zm83.709 2.566v-42.968H184.13l-.329.66c-.239.479-.87 1.33-2.521 2.657-1.414 1.138-3.004 2.222-4.727 3.219-1.731 1.005-3.488 1.883-5.221 2.611-2.032.854-3.143 1.032-3.718 1.032h-1.191v21.026h1.191c1.45 0 3.097-.229 4.895-.679 1.77-.443 3.543-1.039 5.267-1.774 1.723-.732 3.306-1.535 4.705-2.381.427-.258.825-.521 1.193-.789v17.386H168.46v20.597h51.993v-20.597h-13.609zm87.045-25.413c-1.474-4.086-3.55-7.676-6.172-10.667-2.63-3-5.786-5.387-9.387-7.096-3.611-1.711-7.586-2.579-11.814-2.579-4.229 0-8.204.868-11.815 2.58-3.598 1.707-6.757 4.093-9.385 7.095-2.623 2.991-4.699 6.58-6.172 10.667-1.468 4.072-2.213 8.588-2.213 13.423s.745 9.351 2.213 13.423c1.47 4.087 3.547 7.676 6.172 10.668 2.634 3.005 5.793 5.377 9.395 7.046 3.606 1.673 7.578 2.522 11.806 2.522 4.227 0 8.198-.848 11.806-2.522 3.599-1.67 6.761-4.042 9.395-7.046 2.623-2.992 4.699-6.582 6.172-10.668 1.469-4.077 2.214-8.592 2.214-13.423s-.745-9.347-2.215-13.423zm-22.778 22.847c-1.247 2.159-2.75 3.209-4.594 3.209-1.99 0-3.562-1.05-4.809-3.21-1.352-2.338-2.037-5.508-2.037-9.424 0-3.915.686-7.105 2.041-9.483 1.247-2.191 2.818-3.255 4.805-3.255 1.842 0 3.344 1.066 4.591 3.255 1.354 2.381 2.041 5.572 2.041 9.484-.001 3.912-.686 7.082-2.038 9.424zm83.712 2.566v-42.968h-22.714l-.329.66c-.239.479-.87 1.33-2.521 2.657-1.414 1.138-3.003 2.222-4.727 3.219-1.731 1.005-3.488 1.883-5.222 2.611-2.031.854-3.143 1.032-3.717 1.032h-1.191v21.026h1.191c1.45 0 3.098-.229 4.895-.679 1.769-.443 3.543-1.039 5.268-1.774 1.723-.732 3.305-1.535 4.704-2.381.427-.258.825-.521 1.193-.789v17.386h-15.215v20.597h51.993v-20.597h-13.608z")
      span {{ $t('nav.author')}}
</template>

<script>
export default {
  name: 'nav-menu',
  data () {
    return {
      menu_show: false
    }
  },
  methods: {
    menuShow () {
      this.menu_show = !this.menu_show
      // document.body.classList.toggle('active-menu')
    }
  }
}
</script>
