#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  padding 0 10px 10px

.app
  center()
  background #eee
  box-sizing border-box
  border-radius 10px 0 10px 10px
  box-shadow 0 0 0 1px #fff, 0 0 30px rgba(#000,.1)
  padding 10px
  margin 0 auto
  width 100%
  font-family 'Abel', sans-serif
  font-size 16px
  letter-spacing .8px
  -webkit-user-select none  /* Chrome 49+ */
  -moz-user-select none    /* Firefox 43+ */
  -ms-user-select none     /* No support yet */
  user-select none
  -webkit-tap-highlight-color rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color rgba(255, 255, 255, 0) !important
  outline none !important
  z-index 9
  position relative
  &:hover
    background #eee
    z-index 666
  &:before
    content ""
    display block
    width 100%
    height 100%
    background #fff
  & > hr:last-of-type
    border-color  #ccc
  .text
    margin 0
    padding 0
    font-size 16px
    line-height 16px
  .section
    clear both
    p
      font-weight 600
      padding 20px 10px 10px 10px
      clear both
  +mobile()
    label
      width 50% !important
      box-sizing border-box
      float left
      &[for|="GET-courseabout"],
      &[for|="GET-expsabout"]
        width 100% !important
        clear both
        float none
  +tablet()
    max-width 90%
    label
      &[for|="GET-dataofbirth"]
        width 25% !important
      &[for|="GET-maritalstatus"]
        width 25% !important
        &:hover
          border 0 !important
  +desktop()
    max-width 70%
    label
      border-right 1px solid #eee !important
      box-sizing border-box
      float left
      width 33.3% !important
      &[for|="GET-dataofbirth"]
        width 33.3% !important
      &[for|="GET-courseabout"],
      &[for|="GET-expsabout"],
        clear both
        float none
        width 100% !important
      &[for|="GET-travel-yes"],
      &[for|="GET-travel-no"]
        text-align center
        width 50% !important
        & input
          display inline-block !important
          float none !important
          position relative
          top -5px
      &:hover
        border 0 !important
      &[for|="GET-cep"],
      &[for|="GET-address-number"],
      &[for|="GET-coursedata"],
      &[for|="GET-expsdata"]
        width 16.7% !important
        &:hover
          border 0 !important
