.container
  padding-top 60px
  color #fff
  letter-spacing .8px
  -webkit-tap-highlight-color rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color rgba(255, 255, 255, 0) !important
  outline none !important
  z-index 999
  h1
    text-align center
    padding-bottom 10px
  h2
    font-size 28px
    padding 60px 0
    text-align center
    //background linear-gradient(rgba(#fff,1),rgba(#fff,0))
    &:first-of-type
      padding-top 0
  h3, p
    max-width 566px
    margin 0 auto
    font-size 18px
    text-align center
    padding 0
    margin-top 20px
  a
    text-decoration underline
    //background linear-gradient(rgba(#fff,1),rgba(#fff,0))
