#curriculo
  fieldset
    z-index 1
    position relative
    &:after
      content ""
      display table
      clear both
  legend
    width 100%
    font-size 22px
    padding 20px 10px 10px
    margin 20px 0 0
    box-sizing border-box
    border-top 1px solid #ccc
    border-bottom 1px dotted #ccc + 10
    text-align left
    clear both
    &:first-of-type
      border-top none

  input
    box-shadow none

  .box-travel,
  .select-maritals,
  .address
    font-size 14px
    font-weight 100
    text-shadow 0 2px 2px rgba(#000,.2)
    line-height 30px
    clear both
    &:after
      content ""
      display table
      clear both

  .address
    width 100%
    clear both
    +tablet()
      width 50%
      float left
      clear none
    +desktop()
      width 33%

  label
    box-sizing border-box
    width 100%
    display block
    line-height 30px
    padding 10px
    cursor pointer
    background linear-gradient(rgba(#fff,0), #fff)
    font-size 15px
    font-weight 100
    text-shadow 0 2px 2px rgba(#000,.2)
    position relative
    z-index 1
    will-change all
    .text
      padding 0
      margin 0
    &[for|="GET-travel"],
    &[for|="GET-maritalstatus"],
    &[for|="GET-address-number"],
    &[for|="GET-cep"],
    &[for|="GET-coursedata"],
    &[for|="GET-expsdata"]
      width 50%
      float left
    &[for|="GET-travel"]:hover,
    &[for|="GET-maritalstatus"]:hover,
    &[for|="GET-address-number"]:hover,
    &[for|="GET-cep"]:hover
    &[for|="GET-coursedata"]:hover,
    &[for|="GET-expsdata"]:hover
      z-index 999
    &[for|="GET-travel"]:nth-of-type(odd),
    &[for|="GET-maritalstatus"]:nth-of-type(odd),
    &[for|="GET-address-number"],
    &[for|="GET-coursedata"]:nth-of-type(odd),
    &[for|="GET-expsdata"]:nth-of-type(odd)
      border-right 1px solid #eee
    &[for|="GET-travel"]:nth-of-type(odd):hover,
    &[for|="GET-maritalstatus"]:nth-of-type(odd):hover,
    &[for|="GET-address-number"]:hover,
    &[for|="GET-coursedata"]:nth-of-type(odd):hover,
    &[for|="GET-expsdata"]:nth-of-type(odd):hover
      border-right 1px solid rgba(#eee,0)
      z-index 999
    // &[for|="GET-state"],
    &[for|="GET-courseabout"]
    &[for|="GET-expsabout"],
    &[for|="GET-about"]
      clear both
    &.course_now,
    &.exps_now,
    &[for|="GET-about"]
      text-align center
      width 100% !important
      float none
      transition .2s all
      input
        display inline-block
        float none
        margin 0 10px
        width auto

    &:hover, &:focus
      background #333
      border-radius 6px
      color #fff
      text-shadow 0 2px 6px rgba(#000,.5)
      box-shadow 0 0 0 2px rgba(#fff,.6), 0 4px 16px rgba(#000,.6)
      z-index 999
    &:after
      content ''
      display table
      clear both

  textarea
    height 35px
    resize none
    overflow hidden

  input,
  textarea,
  select
    font-family Arial
    background #fff
    border 1px solid #ccc
    border-radius 3px
    box-sizing border-box
    padding 10px
    margin 10px auto 0 auto
    width 100%
    max-width 100%
    clear both
    &:focus
      background #666
      color #fff
      transition .2s all
    &:hover
      background #fff
      color #666
      transition .2s all

  input[type="radio"]
    width auto
    float left
    margin 8px 10px 0 0

  select
    padding 9px

  +tablet()
    .box-travel
      width 50%
      float left
      clear none
      p
        padding 12px 10px 5px 10px
    label
      &[for='GET-address-number'],
      &[for='GET-cep']
        width 50% !important
      &[for='GET-dataofbirth'],
      &[for='GET-nationality']
        width 50% !important
      &.course_now,
      &.exps_now
        text-align center
        width 16.7% !important
        float right
        position absolute
        right 0
        top 0
  +desktop()
    .box-travel
      width 100%
    label
      &[for='GET-nationality']
        width 33.3% !important
      &[for='GET-genero'],
      &[for='GET-dataofbirth']
        width 16.65% !important
      &.exps_now
        &.active
          transform translateY(51px)
          padding 26px

  input:focus,
  textarea:focus,
  select:focus
    box-shadow 0 0 0px 4px rgba(#000,.1)
  input[type="radio"]:focus
    box-shadow 0 0 0px 4px rgba(#000,0)
  input[type="date"]
    padding 7.5px
