.footer
  text-align center
  padding 100px 0 30px
  font-weight normal

.credits
  user-select none
  color #fff
  font-size 1em
  cursor pointer
  i
    transition 1s all
    width .8em
    display inline-block
  small, i
    font-style normal
    color #fff
    text-shadow 0 2px 2px rgba(#000,.6)
  &:hover
    letter-spacing 10px
    color #fff
    transition 2s all
    text-shadow 0 2px 2px rgba(#000,.6)
    i
      font-size 2em
      margin 4px
    small, i
      color #fff
