.header
  color #fff
  letter-spacing .8px
  -webkit-user-select none  /* Chrome 49+ */
  -moz-user-select none    /* Firefox 43+ */
  -ms-user-select none     /* No support yet */
  user-select none
  -webkit-tap-highlight-color rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color rgba(255, 255, 255, 0) !important
  outline none !important
  will-change opacity, translate, scale
  z-index 999
  position relative
  // +ultrawide()
  //   width 40%
  //   float left
  h1
    text-align center
  h2
    font-size 28px
    padding 0 60px
    padding-bottom 60px
    text-align center
  h3
    font-size 18px
    text-align center
    padding 0
