<template lang="pug">
  #app.video-overlay
    notice-page
    pluralization-page
    header-page
    main.ultra
      router-view
    //- publicidade-page
    footer-page
</template>

<script>
  export default { name: 'app' }
</script>

<style lang="stylus">
  @import 'stylus/all'
</style>
